/*for small screen */

h1 {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.country {
    width: 100%;
    height: auto;
    margin-bottom: 5%;
    border-radius: 10px;
    display: flex;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);

}

img {
    width: 40%;
}

.about {
    height: 20%;
    width: 65%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 5px;
    text-align: left;
    padding: 2px;
    font-family: 'Raleway', sans-serif;

}

.name {

    margin: 2px;
    color: rgba(95, 95, 95, 1);
    font-weight: bold;

}

.capital {
    margin: 2px;
    color: rgba(95, 95, 95, 1);

}

/* for desktop */
@media screen and (min-width: 768px) {
    .place {
        display: flex;
        flex-wrap: wrap;
    }

    h1 {
        font-size: 48px;
        margin-top: 20px;
        margin-left: 60px;
        margin-bottom: 20px;
    }

    .container {
        width: 90%;
        margin: 50px;

    }

    .country {
        width: 45%;
        margin-left: 60px;
        height: 260px;
    }

    img {
        width: 40%;
        height: 260px;
    }

    .about {
        padding-left: 10px;
        height: 200px;
        width: 50%;

    }

    p ,.capital{
        font-size: 20px;
    }

    .name {
        font-size: 36px;
    }
}